.identity{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #EEEEF0;
}

.backgroundColor{
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(84,5,119,1) 70%, rgba(2,0,36,1) 100%);
}

.headerFooter{
  width: 100%;
  height: 3rem;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #EEEEF0;
  background: #000000;
  
}

body {
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
}
.heading {
  font-family: 'Press Start 2P', cursive;
  color: #F9F5FF;
  /* margin: 0;
  padding: 0; */
  Font-Size: 25px;
  text-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}

.titleTeam{
  width: 100%;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  margin-bottom: 20px;
}

.card{
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  margin : 10px;
}

.card-title{
  font-family: 'Press Start 2P', cursive;
  Font-Size: 15px;
  color: #F9F5FF;
  margin : 10px;
  padding: 0;
  align-content: center;
}

.card-subtitle{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #F9F5FF;
  margin : 10px;
}

.card-text{
  margin : 10px;
  font-size: 13px;
}

.card-body{
  padding: 15px 10px;
}

.card-background{
  background: #197278;
  border-radius: 0px 90px;
}
