.boldFont{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
}

.font{
  justify-content: center;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: normal;
  color: #F9F5FF;
}

.nextButton {
  position: relative;
  text-align: center;
  color: #EEEEF0;
}

.textButton {
  position: absolute;
  top: 59%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: #EEEEF0;
}

p{
  margin-bottom: 0px;
  padding: 0px;
}

div{
  margin-right: 0px;
  padding: 0px;
}

.row{
  margin-right: 0px;
  padding: 0px;
}

.backgroundColor{
  min-height: 84vh;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(84,5,119,1) 70%, rgba(2,0,36,1) 100%);
}

.headerFooter{
  width: 100%;
  min-height: 8vh;
  font-family:  'Comfortaa', cursive;
  font-style: normal;
  font-weight: bold;
  color: #F9F5FF;
  background: #000000;
  box-shadow: 10px 10px 10px 10px #414141;
}

.boxshadow{
  box-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
  height: 34px;
  width:34px;
};

body {
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
}
.heading {
  font-family: 'Press Start 2P', cursive;
  color: #F9F5FF;
  /* margin: 0;
  padding: 0; */
  Font-Size: 25px;
  text-shadow: 0px 4px 4px rgba(231, 10, 10, 0.7);
}

.titleTeam{
  width: 100%;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card{
  height: auto;
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  padding-bottom: 13px;
  box-shadow: 8px rgba(144, 14, 205, 0.8);
}

.lastcard{
  height: auto;
  background-color: #010212;
  border-radius: 0px 50px;
  font-family: 'Comfortaa', cursive;
  color: #F9F5FF;
  padding-bottom: 13px;
  margin-bottom: 0px;
  box-shadow: 4px rgba(144, 14, 205, 0.8);
}
.card-title{
  font-family: 'Press Start 2P', cursive;
  Font-Size: 15px;
  color: #F9F5FF;
  margin : 10px;
  padding: 0;
  align-content: center;
  text-shadow: 0px 4px 4px rgba(187, 10, 231, 0.7);
}

.card-subtitle{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: #F9F5FF;
  margin-left : 10px;
}

.card-text{
  margin-left : 10px;
  font-size: 13px;
}

.cardbody{
  padding-bottom: "15px";
  padding-left:"10px";
  margin-bottom: "30px"
}

.user{
  padding-left: 25px;
  padding-bottom: 10px;
  align-items: center;
  
}

.usertitle{
  padding-left: 25px;
  padding-bottom: 10px;
  margin-top: 15px;
  align-items: center;
}

.card-background{
  background: #197278;
  border-radius: 0px 90px;
}
.titleTeam{
  padding-top: 10px;
  align-items: center;
  margin-bottom: 10px
}

.custom-column{
  column-count: 2;
}

/*______________ TOGGLE ______________*/
  .react-switch{
  position: relative; 
  display: inline-block; 
  text-align: left; 
  opacity: 1; 
  direction: ltr; 
  border-radius: 14px; 
  transition: opacity 0.25s ease 0s; 
  touch-action: none; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  user-select: none;
  } 



  .react-switch-bg{
    height: 36px;
    width: 110px;
    margin: 0px;
    position: relative;
    background: rgb(136, 136, 136);
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.25s ease 0s;
  }

  .react-switch-handle{
    height: 38px; 
    width: 40px; 
    background: rgb(255, 255, 255); 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 50%; 
    position: absolute; 
    transform: translateX(1px); top: 1px; 
    outline: 0px; 
    border: 0px; 
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;
  }





/* TOGGLE */